GOOGLE_CHAT_WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/YOUR_SPACE_ID/messages?key=YOUR_API_KEY&token=YOUR_TOKEN
DATABASE_URL=postgresql://postgres:password@localhost:5432/your_database?schema=public
GEMINI_API_KEY=your_gemini_api_key
SESSION_SECRET=your_session_secret
RESEND_API_KEY=re_your_resend_api_key
RESEND_FROM=onboarding@resend.dev
CRON_SECRET=your_cron_secret
AUTH_SECRET=your_auth_secret
CLIENT_SECRET=your_google_oauth_client_secret
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
CMP_EMAIL_DOMAIN=amana.id
CMP_EMAIL=noreply@amana.id
HR_EMAIL=hradmin@amana.id
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
NEXT_PUBLIC_CMP_EMAIL_DOMAIN=amana.id
