@import "tailwindcss";

@theme {
  /* AMANA Main Palette */
  --color-amana-black: #212022;
  --color-amana-white: #F3F5F1;
  --color-amana-blue: #185D87;

  /* AMANA Secondary Palette */
  --color-amana-sec-1: #6DC6FF;
  --color-amana-sec-2: #9EE1FF;
  --color-amana-sec-3: #8EE2F4;
  --color-amana-sec-4: #89DDE5;
  --color-amana-sec-4-5: #4ACCDC;
  --color-amana-sec-5: #053F57;
  --color-amana-sec-6: #DBDCD9;
  --color-amana-sec-7: #857D78;
  --color-amana-sec-7-5: #666461;
  --color-amana-sec-8: #1E7773;
  --color-amana-sec-9: #ABC6B5;
}

body {
  background-color: var(--color-amana-white);
  color: var(--color-amana-black);
  font-family: var(--font-sans), sans-serif;
}